
@{
    ViewBag.Title = "OrnekSayfa";
    Layout = "~/Views/Shared/_Temel.cshtml";
}

    <section>
        < section >
        <header>< header ></header>
        <article>Örnek Sayfa</article>
        <footer>< footer ></footer>
    </section>

